<!doctype html>
<html class="no-js" lang="en-GB">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Rob Bell</title>
    <meta name="description" content="Rob Bell's software development blog, discussing object-oriented programming, design and best practices, amongst other things.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <script src="/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body>
    <div class="header-container clearfix">
        <header>
            <h1 class="title"><a href="/">Rob Bell</a></h1>
            <nav>
                <ul>
                    <li><a href="/">New things</a></li>
                    <li><a href="/categories/articles">Articles</a></li>
                    <li><a href="/categories/projects">Projects</a></li>
                    <li><a href="/about">About me</a></li>
                </ul>
            </nav>
        </header>
    </div>

    <div class="main-container">
        <div class="main clearfix">
            @RenderBody()
        </div>
    </div>

    <div class="footer-container clearfix">
        <footer class="wrapper clearfix">
            <div class="about">
                <h4>About</h4>
                <p>
                    Rob Bell is a software developer from London specialising in web development with an interest in most things nerdy.
                </p>
            </div>
            <div class="external">
                <h4>More</h4>
                <ul>
                    <li><a href="#">Contact me</a></li>
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">RSS</a></li>
                </ul>
            </div>
            <p>&copy; Rob Bell 2008-2015</p>
        </footer>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="/js/main.js"></script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-412135-2', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
